extends layout

block content
    #practice
        h1= title

        nav
                li Voir tout les résultats
                li Championnat pro
                li Coupe d'Europe
                li Championnat Nationaux
                li Championnat Régionaux
                li Championnat Départementaux
                li Coupe de France séniors
                li Coupe de France jeunes
                li Volleyades
                li Mini-volleyades
                li Les Interpôles
                li Palmarès et historique
