extends layout

block content
   
    form
        h1= title

        input(type="text", placeholder="Nom")
        input(type="text", placeholder="Nom")
        input(type="email", placeholder="Email")
        textarea(placeholder="Message")
        input(type="submit")

   
