extend layout

block content
    

    #equipeFR
        h1= title
        h3 L'équipe de France, un objectif olympique
        p Arrivé à la tête de l’équipe de France en 2012, après l’échec de la campagne qualificative pour les Jeux Olympiques de Londres, Laurent Tillie a d’emblée fixé un objectif à ses joueurs : participer et performer aux JO de Rio en 2016. Pour cela, il a installé une nouvelle génération ayant remporté de nombreux titres et médailles internationales en sélections cadets et juniors (Ngapeth, Toniutti, Le Roux, Grebennikov, Lyneel, Lafitte, Le Goff…) tout en conservant quelques anciens (Rouzier, Maréchal, dernièrement Pujol)
        img(src='/img/europe.jpg')

        h3 Palmarès
    
            h4 Ligues mondiale
            li 2016: Médaille de bronze
            li 2015: Vainqueur
            li 2014 : 10ème (finaliste Groupe 2)
            li 2013 : 10ème

            h4 Championnat du Monde
            li 2014 : Demi finaliste
            li 2010 : 10ème 

            h4 Championnat d'Europe
            li 2015 : Champions d'Europe
            li 2013 : 5ème
            li 2011 : 7ème
            li 2009 : Vice-Champion