extends layout

block content
    #home
        #slider
            figure
                img(src='/img/cdf.jpg')#cdf
                img(src='/img/mondial.jpg')#modial
        #mediateque
            h3 Mediatèque
            img(src='/img/beach.jpg')
            p Toutes les vidéos de la FFVB

     #middle
        #boutique
            img(src='/img/boutique.jpg')
            p La boutique officiel de la FFVB

        nav#space
            li Espaces clubs
            li Saisie des licences
            li Saisie des résultats
            li Accéder aux résultats
            li Espaces entraineurs
            li Espaces arbitres

        #search
            h3 Trouver un club
            img(src='/img/search-club.jpg')

        #foot
            img(src='/img/LAF.jpg')
            img(src='/img/LAM.jpg')
            img(src='/img/LBM.jpg')
