doctype html
html
    head
        title Volley Ball
        link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    body
        header
            img(src='/img/logo-ffvb.png')
            #social
                img(src='/img/facebook.png')
                img(src='/img/twitter.png')
                img(src='/img/dailymotion.png')
            #newsletter
                p Recevez toute l'actualité FFVB, inscrivez-vous!
                input(type='text', placeholder='Votre adresse mail')
        block content