extends layout

block content
    #practice
        h1= title

        nav
            li Où pratiquer?
            li Licences
            li Volley / Beach
            li Volley éducation
            li Volley socio-éducatif
            li Volley Santé / Loisir
            li Volley citoyen