html {
    font-size: 16px;
}
body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background: rgba(255,255,255,0.8);
    padding: 0 2rem 0.5rem 2rem;
}

#social {
    margin-left: 4rem;
}

#newsletter {
    margin-top: -6rem; 
    float: right;
    margin-right: 1rem;
}

#newsletter p {
    color: #424242;
}
#newsletter input {
    border: none;
    width: 13rem;
    height: 1.5rem;
    text-align: center;
    margin-left: 3rem;
}